<p id="notice"><%= notice %></p>

<h1>Listing Api Note Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_note_tags.each do |api_note_tag| %>
      <tr>
        <td><%= link_to 'Show', api_note_tag %></td>
        <td><%= link_to 'Edit', edit_api_note_tag_path(api_note_tag) %></td>
        <td><%= link_to 'Destroy', api_note_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note tag', new_api_note_tag_path %>
