<section id="devise">

  <div class="row">
    <div class="col-12 devise-frame">
     <%= form_for(@user, :url => session_path(@user)) do |f| %>

      <fieldset>
        <legend>Sign in</legend>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <div class="col">
            <label>
              <input type="checkbox" value="remember-me">
              Remember me
              </input>
            </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
      <% end %>
      <%= link_to "Sign up", new_user_path(@user) %><br />
    </fieldset>
  </div>
</div>
</section>
