
<section id="custom">

  <div class="row">
    <div class="col-12 custom-frame">
      <%= form_for(@user, :url => users_path(@user)) do |f| %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |msg| %>
          <%= content_tag(:div, msg, class: "alert alert-danger") %>
        <% end %>
      <% end %>

      <fieldset>
        <legend>Sign up</legend>

        <div class="form-group">
          <%= f.label :name %><%= f.text_field :name, autofocus: true, placeholder: 'Enter name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><%= f.email_field :email, autofocus: true, placeholder: 'Enter email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><%= f.password_field :password, placeholder: 'Enter password', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Sign up', class: 'btn btn-primary btn-large btn-block' %>
        </div>
        <% end %>
        <%= link_to "Log in", new_session_path(@user) %><br />
      </fieldset>
    </div>
  </div>
</section>


