<!DOCTYPE html>
<html>
<head>
  <title>Molyb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>

    <script>
    window.current_user = "<%= current_user %>";
    window.name = "<%= current_user.name %>" ;
    window.hello = "hello"
    </script>

  <% end %>

  <div class="container">

      <div id="navbar"></div>
   <!--  <% unless user_signed_in? %>

      <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-fire">Molyb</h1>
      </div>

    <% end %> -->

    <% if flash[:errors] %>
      <% flash[:errors].each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-danger") %>
      <% end %>
    <% end %>

    <%= yield %>



  </div>

</body>
</html>
