<!DOCTYPE html>
<html>
<head>
  <title>Molyb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  window.current_user = "<%= current_user %>"
  </script>
  <div class="container">

    <% if flash[:errors] %>
      <% flash[:errors].each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-danger") %>
      <% end %>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
