<!DOCTYPE html>
<html>
<head>
  <title>Molyb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href="navmenu-push.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" id="content">

    <% if flash[:errors] %>
      <% flash[:errors].each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-danger") %>
      <% end %>
    <% end %>

    <%= yield %>

  </div><!-- /.container -->

</body>
</html>
